body{
    background:white;
}
#main{
    height: auto;
    width: 1000px;
    margin: auto;
    background: rgb(253, 221, 197);
}
#logo1{
    border-radius: 100px;
    float: left;
}
#list{
    float: center;
}
#main h1{
    float: center;
    font-size: 45px;
    padding: 50px;
    margin: auto;
    margin-left: 20px;
}
#footer{
    color: white;
    text-align: center;
    margin-top: 50px;
    height: 25px;
    width: auto;
    background-color: black;
}
#footer p{
    padding-top: 5px;
}